body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    transition: background-color 2s ease;   
}

.color-selector {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

.reset {
    background: #fff;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container {
    display: flex;
    max-width: 1140px;
    gap: 60px;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 2px solid #01f91e;
    border-radius: 10px;
    transition: background-color 2s ;

}